#root > div {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }



/* Light theme */
.light-theme {
  background-color: #f5f5f5;
  color: #000;
}
.dark-theme {
  background-color: #1a1a1a;
  color: #fff;
}
